/*
sample5 - animation
CSSで設定するアニメーション方法をサンプルファイルを通じて
学習しましょう。
*/


/*
case1. transitionの設定:背景色の変更
*/

.t1{
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  color: #FFF;
  font-weight: bold;
  background: #2CCFB1;
  /*transitonの設定*/
  transition: width 1s;
  /* 初期値はall */
}

.t1:hover{
  background-color: tomato;
  width: 300px;
}

/*
case2. transitionの設定:要素の幅変更
*/

.t2{
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  color: #FFF;
  font-weight: bold;
  background: #2CCFB1;
  /*transitonの設定*/
  transition: 1s cubic-bezier(.12,1.2,.44,1.58);
}
.t2:hover{
  width: 300px;
}


/*
case3. transitionの設定:delayの幅変更
*/

.t3{
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  color: #FFF;
  font-weight: bold;
  background: #2CCFB1;
  /*transitonの設定*/
  transition: 1s 2s;
}
.t3:hover{
  width: 300px;
}


/*
case4. animationの設定
*/

.a1{
  display: table-cell;
  width: 50px;
  height: 50px;
  vertical-align: middle;
  text-align: center;
  color: #FFF;
  font-weight: bold;
  background: #2CCFB1;
  /*animationの設定*/
  animation: 1s 1s boxsize;
}

@keyframes boxsize {
  0%{
    width: 50px;
  }
  100%{
    width: 100px;
  }
}

/*
case5. animationの設定
animation-fill-mode
animation-direction
animation-interaction-count
など設定を追加してみる
※ 通常はanimationプロパティに一括で指定がベターです。
*/
.a2{
  display: table-cell;
  width: 50px;
  height: 50px;
  vertical-align: middle;
  text-align: center;
  color: #FFF;
  font-weight: bold;
  background: #2CCFB1;
  /*animationの設定*/
  animation: 1s infinite alternate-reverse boxsize;
}

@keyframes boxsize {
  0%{
    width: 50px;
  }
  100%{
    width: 100px;
  }
}

.aaa{
  animation: 1s infinite alternate-reverse boxsize;
}
.bbb{
  animation: 1s 0.2s infinite alternate-reverse boxsize;
}


/*
case6. animationの設定
a3クラスを反時計回りに移動させてみましょう
*/

.a3{
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  color: #FFF;
  font-weight: bold;
  background: #2CCFB1;
  position: relative;
  top:0;
  left:0;
  /*animationの設定*/
  animation: 1s infinite rotation;
}

@keyframes rotation {
  0%{
    top: 0;
    left: 0;
  }
  25%{
    top: 200px;
    left: 0px;
  }
  50%{
    top: 200px;
    left: 200px;
  }
  75%{
    top: 0;
    left: 200px;
  }
  100%{
    top: 0;
    left: 0;
  }
}


/*
case7. コマ送りアニメーション
a4クラス:hover状態でコマ送りアニメーションを設定する
*/

.a4{
  width: 200px;
  height: 300px;
  background: url("../img/sample5_anime.jpg") no-repeat;
  /*animationの設定*/
  transition: 1s steps(5);
}
.a4:hover{
  background-position: -800px;
}








