/*
sample5 - transform
CSSで設定する要素の変形等の方法をサンプルファイルを通じて
学習しましょう。
*/


/*
case1. transfrom: 基本変形
*/

.tr1{
  width: 75px;
  height: 75px;
  line-height: 75px;
  text-align: center;
  color: #FFF;
  font-weight: bold;
  background: #2CCFB1;
  /*transformの設定*/
  transform: scale(2) rotateZ(45deg);
}

/*
case2. transfrom: transitionとの組み合わせ
*/

.tr2{
  width: 75px;
  height: 75px;
  line-height: 75px;
  text-align: center;
  color: #FFF;
  font-weight: bold;
  background: #2CCFB1;
  transition: 0.4s;
}

.tr2:hover{
  transform: scale(2) rotateZ(45deg);
}

/*
challenge1. transfrom: ちょっとチャレンジ
組み合わせ次第で色んな変形が可能
*/

.ch1Photo{
  margin: 50px;
  width: 200px;
  height: 200px;
  /*
  モノクロをカラーに変更する
  */
  background-image: url(../img/sample5_photo.jpg);
  background-size: 200px;
  border-radius: 50%;
}

.ch1Photo:hover img{

}
.ch1 img{
  width: 100%;
  border-radius: 100%;

}


/*
challenge2. transfrom: ちょっとチャレンジ
組み合わせ次第で色んな変形が可能
*/

.ch2{
  position: absolute;
  z-index: 10;
  width: 100%;
  height: 100%;
  line-height: 75px;
  text-align: center;
  color: #FFF;
  font-weight: bold;
  background: #2CCFB1;

}

.transformCh2:hover .ch2{

}

/*
case3. transfrom: 3D表現
*/

.trBox{
  width: 150px;
  height: 150px;
  line-height: 150px;
  text-align: center;
  color: #FFF;
  font-weight: bold;
  background: #2CCFB1;
}

.tr3Wrap{
  position: relative;
  width: 150px;
  height: 150px;
  /* transform-styleの設定 */
  transform-style: preserve-3d;
  transition: 0.5s;
  transform-origin: left top;
}
.tr3Wrap:hover{
  transform: rotateY(45deg) rotateX(20deg);
}
.tr3L{
  position: absolute;
  transform: rotateY(0) translateZ(75px);
}
.tr3R{
  background: #FF6347;
  position: absolute;
  transform: rotateY(90deg) translateZ(75px);
}




