header{
  color: #fff;
  background-color: #333;
  font-size: 0.55em;
  padding: 10px;
  height: 30px;
}

.mainImg{
  border: solid 3px tomato;
  width: 100%;
  height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background:linear-gradient(45deg, #3bade3,#9844b7,#44ea76);
  background-size: 200% 200%;
  animation: bgChange 2s ease infinite;
}

.mainImg > p{
  font-size: 100px;
}

/* @keyframes bgChange{
  0%{
    background-color: #8DE0E3;
  }
  30%{
    background-color: #E3B28D;
  }
  50%{
    background-color: #E38D8D;
  }
  70%{
    background-color: #E3E38D;
  }
  80%{
    background-color: #AE8DE3;
  }
  100%{
    background-color: #E3DD8D;
  }
} */

@keyframes bgChange{
  0%{
    background-position: 0% 50%;
  }
  50%{
    background-position: 100% 50%;
  }
  100%{
    background-position: 0% 50%;
  }
}


.btnBase{
  float: left;
  width: 50%;
  height: 450px;
  background-color: tomato;
  position: relative;
}

.btnBase:nth-child(2){
  background: skyblue;
}

.btnBase a{
  position: absolute;
  width: 650px;
  height: 45px;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  display: block;
  border: solid 1px #fff;
}

.btnBase a:link,
.btnBase a:visited{
  color: #fff;
  text-decoration: none;
  text-align: center;
  line-height: 45px;
}

.btnLink