@charset "UTF-8";
*{
  font-family: "ヒラギノ角ゴシック",sans-serif;
  font-weight: bold;
  box-sizing: inherit;
}

html{
	font-size: 62.5%;
  box-sizing: border-box;
  list-style: none;
}

header{
  width: 100vw;
  height: 50px;
  padding: 10px;
  color: #FFF;
  background-color: #333;
}

h1{
  font-size: 1.8rem;
  
}

a:link,a:visited,a:hover{
  text-decoration: none;
}


.home{
  background-color: #FF6347;
}

#main_nav{
  width: 1000px;
  height: 400px;
  margin-top: 200px;
}

#main_nav ul{
  display: flex;
  justify-content: center;
  width: 100%;
  list-style: none;
}
#main_nav li a{
  display: block;
  height: 50px;
  padding: 10px;
  color: #FFF;
  background-color: #333;
  border-left: dotted 1px #FFF;
  text-align: center;
}

#main_nav li ul{
  display: block;
}
#main_nav li ul li{
  width: 199px;
  height: 50px;
  display: none;
  text-align: center;
}

.home{
  width: 80px;
  border-left: none;
}

.office,.about,.recruit,.contact{
  width: 199px;
}

p{
  text-align: center;
}