@charset "UTF-8";
*{
  font-family: "ヒラギノ角ゴシック",sans-serif;
  font-weight: bold;
  box-sizing: inherit;
}

html{
	font-size: 62.5%;
  box-sizing: border-box;
  list-style: none;
  width: 100%;
  height: 100%;
}

header{
  width: 100vw;
  height: 50px;
  padding: 10px;
  color: #FFF;
  background-color: #333;
}

h1{
  font-size: 1.8rem;
}

a:link,a:visited,a:hover{
  text-decoration: none;
}


#main_nav{
  width: 1000px;
  height: 400px;
  margin: 200px auto;
}

#main_nav ul{
  display: flex;
  justify-content: center;
  width: 100%;
  list-style: none;
}
/* #main_nav li a{
  display: block;
  height: 50px;
  padding: 10px;
  color: #FFF;
  background-color: #333;
  border-left: dotted 1px #FFF;
  text-align: center;
} */

ul > li > a{
  display: block;
  height: 50px;
  /* padding: 10px; */
  color: #FFF;
  background-color: #00152E;
  border-left: dotted 1px #FFF;
  text-align: center;
  padding: 17px 0px;
}

#main_nav li ul{
  display: block;
}

li > ul > li{
  width: 199px;
  height: 50px;
  display: none;
  text-align: center;
}

li > ul > li > a{
  display: block;
  background-color: #333;
}

.home{
  width: 80px;
  border-left: none;
}

.home > a{
  background-color: #FF6347;
}



.home a:hover{
  background-color: #DD5C30;
}

.office,.about,.recruit,.contact{
  width: 199px;
}

p{
  text-align: center;
}